* {
	box-sizing: border-box;
}

body {
	background: url("../assets/images/Millennium_big_curve_1920x1080.jpg") no-repeat center fixed;
	background-size: cover;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#landing {
	text-align: center;
}

#start-btn,
#finished-bubble,
#score-bubble,
#pov-btn,
.retake-btn {
	display: block;
	background: #52658f;
	width: 200px;
	height: 100px;
	text-align: center;
	margin: 3px auto;
	border: none;
	box-shadow: 0 3px 15px rgba(0,0,0,0.8);
}

#start-btn-text {
	font-size: 20px;
}

#pov-btn,
.retake-btn {
	font-size: 24px;
}

#quiz-form  {
	color: #f8f085;
	max-width: 640px;
}

#question, 
#quiz-form label,
legend {
	text-shadow: 0 0 15px rgba(0,0,0,1);
}

label {
	display: block;
	margin-bottom: 25px;
}

#quiz-form footer{
	text-align: center;
}


#question {
	color: #a2ca8c;
}

#submit-btn {
	color: #384561;
	background: #a2ca8c;
	width: 50%;
	height: 75px;
	border: none;
	border-radius: 6px;
	margin: 10px;
	font-size: 20px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.8);
}

#submit-btn:active {
	background: #5b8c40;
}

#quiz-form fieldset {
	background: -webkit-linear-gradient(-80deg, rgba(89,111,158,0.8), rgba(55,69,98,.9)) repeat scroll 0 0 transparent; /*rgba(89,111,158,0.8);*/
	border-radius: 5px;
    border-color: rgba(89,111,158,0.7);
    border: none;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.8);
}

#modal-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(9,12,16,0.85);
}

#success-fail-modal {
	display: block;
	text-align: center;
}

#success-fail-modal img {
	display: inline-block;
	height: auto;
	margin-top: 5px;
	border-radius: 3px;
	box-shadow: 0 0 25px 5px rgba(255,255,255,0.3);
}


#next-btn {
	display: block;
	color: white;
	font-size: 24px;
	background: none;
	border: none;
	margin: 100px auto;
}

#next-btn h3 {
	margin: 0;
}

#score {
	margin: 15px;
	font-size: 32px;
	text-shadow: 2px 2px 4px black;
}

#score h4 {
	display: inline;
	margin: 0;
	text-shadow: 0px 0px 30px #000, 0px 0px 30px #000;;
}

.bubble {
	/* Create generic oval container for mobile view */
	color: #f8f085;
	border-radius: 100px / 50px;
	font-family: 'Audiowide', cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

 /* * * * * * * * * * * * * * * Results page mobile * * * * * * * * * * * * * * */

#finished-bubble {
	height: auto;
	/*line-height: 100px;*/
	background: none;
	border: none;
	box-shadow: none;
}

#finished-bubble h1 {
	margin: 0;
	font-size: 36px;
}

#score-bubble {
	width: 350px;
	height: 200px;
	border-radius: 210px / 110px;
}

#score-bubble h2 {
	position: relative;
	top: 10px;
}

#pov-btn{
	margin: 30px auto;
}


.results {
	background: -webkit-linear-gradient(50deg, rgba(89,111,158,0.8), rgba(200,210,180,.8));
	margin: 50px auto;
	width: 95%;
	max-width: 600px;
}

.results header {
	position: relative;
	top: -30px;
	color: #f8f085;
	text-align: center;
	text-shadow: 0 0 30px rgb(0,0,0);
}

.results div {
	margin-bottom: 10px;
	padding: 5px;
}

.results div:first-of-type {
	margin-top: -50px;
}

.results h4,
.results h5 {
	margin: 0;
}

.results h4 {
	margin-bottom: 5px;
}

.correct-answer span {
	text-shadow: 0 0 6px rgba(0,0,0,.7);
}

.correct {
	background: rgba(162,202,140, 0.5);
}

.incorrect {
	background: rgba(195,91,78, 0.5);
}

.hidden {
	display: none;
}

#modal-filter {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: -5;
}

#pov-video-container {
	margin-top: 40%;
}

#pov-video {
	width: 100%;
}

label[for=pov-video] {
	text-align: left;
	color: white;
}

.pov-retake-btn {
	display: block;
	color: white;
	background: none;
	border: none;
	margin: 0 auto;
	font-size: 24px;
}

@media only screen and (max-width: 365px) {
	#score-bubble {
		width: 100%;
	}
}

@media only screen and (max-width: 380px) {
	#success-fail-modal img {
		width: 95%;
	}
}


@media only screen and (min-width: 568px) {
	#question {
		padding: 0 40px;
	}
	
	#quiz-form label {
		padding-left: 100px;
	}

	#modal-container {
		padding-top: 200px;
	}

	#result-container {
		position: relative;
	}

	.results {
		margin-top: 115px;
	}
	
	#score-bubble {
		width: 350px;
	}

	#pov-btn {
		position: absolute;
		display: inline-block;
		left: 0;
		margin: 0;
	}

	.retake-btn {
		position: absolute;
		display: inline-block;
		right: 0;
	}

	/*#pov-btn {

	}*/
}

@media only screen and (min-width: 650px) {
	.quiz-container {
		max-width: 800px;
		margin: 100px auto;
	}
	
	#quiz-form {
		margin: 0 auto;
	}
	
}

@media only screen and (min-width: 768px) {
	#score-bubble {
		width: 400px;
	}
}

@media only screen and (min-width: 880px) {
	#modal-container {
		padding: 200px;
	}
}


 /* * * * * * * * * * * * * Desktop view * * * * * * * * * * * * */

@media only screen and (min-width: 1000px) {
	.bubble {
		/* Create generic oval container for desktop view*/
		border-radius: 190px / 95px;
	}

	#start-btn,
	#finished-bubble,
	#score-bubble,
	#pov-btn,
	.retake-btn {
		margin-top: 35px;
	}

	#start-btn {
		width: 380px;
		height: 190px;	
	}


	#start-btn:active {
		background: #8e9dbe;
	}

	#start-btn-text {
		font-size: 28px;
	}

	#start-btn:hover,
	#pov-btn:hover,
	.retake-btn:hover {
		box-shadow: 5px 8px 20px 2px rgba(0,0,0,0.8);
		transform: translate(-2px, -2px);
		transition-duration: 0.5s;
		background:  #2f3951;
	}

	#submit-btn:hover {
		box-shadow: 0 0 20px 6px rgba(0,0,0,0.5);
		transition-duration: 0.2s;
	}

	#quiz-form label:hover {
		font-size: 16.3px;
		text-shadow: 0 0 40px rgba(255,255,255,0.7);
		transition-duration: 0.3s;
	}

	/*#modal-container {
		padding: 200px;
	}*/

	#success-fail-modal {
		z-index: 5;
		margin: auto;
		text-align: center;
	}

	#success-fail-modal img {
		width: auto;
	}

	#next-btn {
		left: 50%;
	}
	
	#next-btn h3:hover {
		cursor: pointer;
		text-shadow: 0 0 40px rgba(255,255,255,0.7), 0 0 40px rgba(255,255,255,0.7);
	}

 /* * * * * * * * * * * Results page * * * * * * * * * * */
	#result-container {
		position: relative;
		width: 1000px;
		margin: 0 auto;
	}

	#start-btn{
		width: 300px;
		height: 150px;
	}

	#finished-bubble,
	#score-bubble {
		display: inline-block;
		position: absolute;
		text-align: center;
		margin: 0 auto;
	}

	#finished-bubble h1
	{
		line-height: 100px;
		font-size: 32px;
	}

	#finished-bubble {
		left: 200px;
		top: 20px;
		display: block;
		background: #52658f;
		width: 200px;
		height: 100px;
		box-shadow: 0 3px 15px rgba(0,0,0,0.8);
	}

	#score-bubble  {
		position: relative;
		width: 360px;
		height: 180px;
		top: 180px;
		left: 30px;
	}

	#score-bubble h2 {
		margin: 10px 0 0;
	}

	.high-scores {
		color: #a2ca8c;
		margin-top: 5px;
	}

	#pov-btn {
		position: absolute;
		width: 260px;
		height: 130px;
		top: 350px;
		left: 20px;
	}
	
	.retake-btn {
		position: absolute;
		font-size: 24px;
		width: 230px;
		height: 115px;
		top: 540px;
		left: 0;
		margin: 0;
	}

	/*  results styling  */

	.results {
		position: relative;
		left: 200px;
		bottom: 70px;
		width: 60%;
	}

	.results header {
		position: absolute;
		right: 50%;
		top: -60px;
	}

	.results div {
		margin-bottom: 5px;
		padding: 5px;
	}

	.results div:first-of-type {
		margin-top: 0;
	}

	#pov-video-container {
		width: 768px;
		margin: 200px auto;
		text-align: center;
		z-index: 5;
	}

	#pov-video {
		display: inline-block;
		width: 768px;
		height: auto;
	}


	.pov-retake-btn:hover {
		text-shadow: 0 0 30px rgba(248, 240, 133, 1);
		cursor: pointer;
	}


	
}


/*font-family: 'Audiowide', cursive;*/
/*font-family: 'Roboto', sans-serif;*/